[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
flake8 = "*"
pytest = "*"

[packages.hello-devops-ppod]
editable = true
path = "./src"

[dev-packages]

[requires]
python_version = "3.9"

[packages.code-challenges]
editable = true
path = "./src"

[packages.hello-ppod-python]
editable = true
path = "./src"

[packages.b7287bc]
path = "./src"
editable = true
